body{
    overflow-x: hidden;
}
.health_navbar{
    background-color: #1116ce !important;
}

.health_navbar .navbar-brand, .health_navbar .navbar-text{
    color: #f2f2ff;
}

.health_navbar .navbar-nav .nav-item .nav-link{
    color: #f2f2ff!important;
    padding-right: 25px!important;
}

.main_container{
    position: relative;
    width: 100%;
    height: 1200px; /* Adjust height as needed */
    background-image: url('/static/img/HeroSection.png');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}
.main_container .text-overlay{
    margin-top: 134px !important;
}

.main_container .text-overlay h1{
    font-weight: bold !important;
}
.main_container .text-overlay .journey_btn{
    margin-top: 3.2rem!important;
}

.main_container .text-overlay .chatbot_img{
    margin-top: 11rem!important;
}

.main_content .our_solutions h3{
    color: #0C0047;

}
.main_content .our_solutions{
    margin-top: 4rem!important;
    margin-bottom: 8rem!important;
}
.main_content .our_solutions .all_cards .card_icon{
    padding: 15px 0px 10px 15px !important;
}
.main_content .our_solutions .all_cards .card_icon img{
    background-color: #f2f2ff;
    border-radius: 10px;
    width: 55px;
    height: 50px;
    padding: 15px;
}

.main_content .our_solutions .all_cards .card-text{
    color: #969696!important;
}

.footer_main_tag{
    width: 100%;
    background-image: url('/static/img/footer.png');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

.footer_main_tag a{
    color: #f2f2ff!important;
    text-decoration: none;
}

.logo-text::after {
    content: 'BETA';
    font-size: 12px;
    vertical-align: top;
    color: #f2f2ff;
}
#inputtext{
    background-color: rgba(255, 255, 255, 0.847);
    border: none;
    border-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
#submit{
    border-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
/* #prompt styles */
#prompt {
    max-height: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: .5s ease-in-out;
}

#prompt:hover {
    overflow-y: auto;
    transition: .5s ease-in-out;
}

#prompt::-webkit-scrollbar {
    width: 12px;
}

#prompt::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#prompt::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f5f5f5;
}

#prompt::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chat{
    overflow-x: hidden;
}

.user-message-card {
    float: right;
    margin-bottom: 3%;
}
.user-text{
    background: linear-gradient(to right, rgb(202, 246, 83), #47EFE3);
    border-radius: 7px;
    padding: 12px 15px;
    /* text-wrap: balance; */
    overflow-x: hidden;
    color: #292929;
}
.user-image img{
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    margin: 0 10px;
}

.bot-message-card {
    float: left;
    margin-bottom: 3%;
}
.bot-text{
    background: linear-gradient(to bottom, #000026, #383e5c 67%);
    border-radius: 7px;
    color: #FFFFFF;
    text-wrap: balance;
    overflow-x: hidden;
    padding: 12px 15px;
}
/* .bot-image img{
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    margin-right: 15px;
} */


/* Media query for mobile devices */
@media (max-width: 768px) {
    .main_container{
        height: 1000px; 
    }
    .main_content .our_solutions {
        margin-top: 0rem !important; 
        margin-bottom: 4rem !important; 
    }
}
